extends layout

block head 
  link(rel='stylesheet', href='/styles/detail.css')

block content
  table#activities
    tr
      td.red-score 8
      td.activity-name Do a kickflip!
      td.blue-score 4
    tr
      td.red-score 3
      td.activity-name Throw 3 darts
      td.blue-score 10

block scripts
  script(src='/scripts/updateDetail.js')

