extends layout

block head 
  link(rel='stylesheet', href='/styles/detail.css')

block content
  table#activities
    tr
      td.red-score
      td.activity-name Updating...
      td.blue-score

block scripts
  script(src='/scripts/updateDetail.js')

