doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/styles.css')

    link(rel = 'preconnect', href='https://fonts.googleapis.com')
    link(rel = 'preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(href = 'https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Rampart+One&display=swap', rel="stylesheet")

    block head

  body
    #header-section.sticky
      #logo
        span.red JINGLE
        span  vs 
        span.blue JANGLE

    #body-section
      block content

    script(src='/socket.io/socket.io.js')
    script(src='/scripts/websocket.js')
    script(src='/scripts/fitty/fitty.min.js')
    script(src='/scripts/init.js')

    block scripts
