doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/styles.css')

    link(rel = 'preconnect', href='https://fonts.googleapis.com')
    link(rel = 'preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(href = 'https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Lora:wght@700&family=Playfair+Display&display=swap', rel='stylesheet')

    block head

  body
    #header-section
      img#logo(src="/images/red-vs-blue-logo.png")

    block content

    script(src="/socket.io/socket.io.js")
    script(src="/scripts/websocket.js")

    block scripts
