extends layout

block head
  link(rel='stylesheet', href='/styles/tv.css')

block content
  #countdown
    p Games Start In
    #countdown-timer
  #winner-text
  #score-section
    .score-midpoint-top
    #shadow
      .score-bar
        #red-bar.score-bar
          #red-score.score Updating...
        #blue-bar.score-bar
          #blue-score.score Updating...
    .score-midpoint-bottom

  #qr-section
    #qr-code

  #music-section
    #music
      #song
      span by
      #artist

block scripts
    script(src='/scripts/qrcode.min.js')
    script(src='/scripts/tvInit.js')
    script(src='/scripts/updateTV.js')
    script(src='/scripts/countdown.js')
