extends ../layout

block head 
  link(rel='stylesheet', href='/styles/detail.css')

block content
  #search
    input(type="text" placeholder="Search for a song..." id="song-input")

  #song-results
    ul#results
      li Result 1
      li Result 2
      li Result 3

block footer

block scripts
