extends ../layout

block head 
  link(rel='stylesheet', href='/styles/detail.css')

block content
  #search
    input#song-search-box(type="text" placeholder="Search for a song...")

  #song-results
    ul#results
      li Result 1
      li Result 2
      li Result 3

block footer

block scripts
  script(src='/scripts/searchSong.js')
