#activities {
    font-size: 4rem;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    width: 100%;
    margin-top: 3rem;
}

.strike {
    text-decoration-line: line-through;
}

.activity-name {
    width: 80%;
}

.red-score {
    color: red;
    width: 10%;
}

.blue-score {
    color: blue;
    width: 10%;
}

#activities td {
    border-top: 4px solid black;
}

#header-section {
    filter: drop-shadow(5px 5px 5px rgb(128, 128, 128))
}

.red::before {
    content: '\00a0 '
}

.blue::after {
    content: '\00a0 '
}