#logo {
    background-color: white;
}

#activities {
    font-size: 4rem;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    width: 100%;
    margin-top: 3rem;
}

.strike {
    text-decoration-line: line-through;
}

.activity-name {
    width: 80%;
}

.red-score {
    color: rgb(231, 97, 97);
    width: 10%;
}

.blue-score {
    color: rgb(112, 112, 247);
    width: 10%;
}

#activities td {
    border-top: 4px solid black;
}

#header-section {
    filter: drop-shadow(0px 5px 10px rgb(128, 128, 128))
}

.red::before {
    content: '\00a0 '
}

.blue::after {
    content: '\00a0 '
}

#song-suggest {
    width: 100%;
    text-align: center;
    background-color: white;
    filter: drop-shadow(0px -5px 10px rgb(128, 128, 128))
}

#suggest-btn {
    background-color: #04AA6D;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem 0;
    cursor: pointer;
    width: 100%;
    text-decoration: none;

    -webkit-tap-highlight-color: transparent;
    outline: none;
}

#suggest-btn:active {
    background-color: #007c4f;
}

/* Container for the search bar and button */
.search-container {
    display: flex;
    width: 100%;
    margin: 0 auto; /* Center the bar horizontally */
    padding: 10px;
    box-sizing: border-box;
}
  
/* Search bar styling */
#song-search-box {
    flex: 1; /* Allows the input to take up the remaining space */
    padding: 1rem;
    font-size: 3rem;
    border: 5px solid rgb(126, 126, 126);
    border-right: none; /* Remove the border between the input and the button */
    border-radius: 4px 0 0 4px; /* Round left corners */
    outline: none;
    box-sizing: border-box;
}
  
/* Search button styling */
#song-search-button {
    width: 12rem; /* Square button */
    padding: 1rem;
    font-size: 3rem;
    background-color: #04AA6D;
    color: white;
    border: 5px solid #04AA6D;
    border-radius: 0 4px 4px 0; /* Round right corners */
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
}
  
/* Button hover effect */
#song-search-button:hover {
    background-color: #007c4f;
}
