body {
  font-family: 'Gabarito';
  margin: 0;
  padding: 0;
}

#logo {
  font-family: 'Rampart One';
  background-color: white;
}

@supports (-webkit-text-stroke: 1px black) {
  #logo {
    -webkit-text-stroke: 3px black;
  }
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.sticky {
  position: sticky;
  top: 0;
}

#body-section {
  margin: 0 3rem;
}
