body {
  font-family: 'Gabarito';
  margin: 0;
  padding: 0;
  user-select: none;
}

button {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

#logo {
  font-family: 'Rampart One';
}

@supports (-webkit-text-stroke: 1px black) {
  #logo {
    -webkit-text-stroke: 3px black;
    text-shadow: white 0 0 10px;
  }
}

.red {
  color: rgb(231, 97, 97);
}

.blue {
  color: rgb(112, 112, 247);
}

.sticky-top {
  position: sticky;
  top: 0;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
}

#body-section {
  margin: 0 3rem;
}

.hidden {
  visibility: hidden;
}
